.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #242424;
  z-index: 0;
}

.buttons {
  position: sticky;
  position: -webkit-sticky; 
  ;
  top: 0;
  background-color: 'purple';
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  align-items: center;
  padding: 25px 10px;
  z-index: 1;
}

.square-image-button {
  opacity: .7;
  right: 0;
  left: 90%;
  position: sticky;
  top: 12%; /* Adjust for vertical positioning. 
  q: how do i do this for the horizontal position
  a:   */
  width: 28px; /* Adjust as needed */
  height: 28px; 
  padding: 5px;
  z-index: 1;
  align-items: right;
  border-radius: 90%;
  &:hover {
    opacity: 1;
  }

}

.square-image-button img {
  opacity: .7;
  width: 100%;
  height: 100%;
  &:hover {
    opacity: 1;
    width: 125%;
    height: 125%;
  }
}

.name {
  font-size: 24px;
  margin-right: 20px;
}

.section {
  margin-top: 10px;
  padding: 20px;
  font-size: 12px;
  font-family: 'Arial', sans-serif;
  line-height: 1.8;
  text-align: left; /* Set text alignment to left */
  border: 1px solid #07004125;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

