/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


/* Color Theme Swatches in Hex */
.Florida-Mayhem-2021-1-hex { color: #590F2A; }
.Florida-Mayhem-2021-2-hex { color: #F21BA7; }
.Florida-Mayhem-2021-3-hex { color: #A61272; }
.Florida-Mayhem-2021-4-hex { color: #731050; }
.Florida-Mayhem-2021-5-hex { color: #F21BB9; }

/* Color Theme Swatches in RGBA */
.Florida-Mayhem-2021-1-rgba { color: rgba(89, 15, 42, 1); }
.Florida-Mayhem-2021-2-rgba { color: rgba(242, 26, 166, 1); }
.Florida-Mayhem-2021-3-rgba { color: rgba(165, 18, 114, 1); }
.Florida-Mayhem-2021-4-rgba { color: rgba(114, 16, 80, 1); }
.Florida-Mayhem-2021-5-rgba { color: rgba(242, 26, 184, 1); }

/* Color Theme Swatches in HSLA */
.color-900 { color: rgb(60, 1, 84); }
.color-700 { color: rgb(106, 15, 95); }
.color-450 { color: rgb(151, 60, 169); }
.color-300 { color: rgb(215, 104, 184); }
.color-100 { color: rgb(144, 24, 242); }



/* rest of your css */
/* to change background color of whole website 
body {
  background-color: rgb(106, 15, 95); 
  color: rgb(60, 1, 84);
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
*/



.fade-in {
  opacity: 0;
  filter: blur(5px);
  transition: opacity 1s ease-in-out;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  justify-content: space-between;
  padding: 0px 10px;
  box-shadow: 0px 2px 5px rgba(60, 1, 84, 0.5); /* This uses the color from .color-900 */
  background-color: #593f62; /* This uses the color from .color-700 */
  z-index: 1;
}

p{
  padding: 0px 10px;
}

.buttons {
  position: sticky;
  position: -webkit-sticky;
  bottom: 10px;
  top: 0;
  display: flex;
  justify-content: right;
  font-family: 'Montserrat', sans-serif;
  padding: 5px 10px;
  z-index: 2;
}



.square-image-button {
  opacity: 0.7;
  padding: 5px;
  right: 0;
  left: 90%;
  position: sticky;
  top: 12%;
  width: 28px;
  height: 28px;
  z-index: 1;
  align-items: right;

  border-radius: 90%;
  &:hover {
    opacity: 1;
  }
}

.square-image-button img {
  opacity: 0.7;
  width: 100%;
  height: 100%;

  &:hover {
    opacity: 1;
  }
}

.name {
  font-size: 24px;
  margin-right: 20px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 9%;
}

.section {
  min-height: 100vh;
  margin-top: 10px;
  padding: 20px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  line-height: 32px;
  text-align: center;
  border: 1px solid #170e6425;
  box-shadow: 0px 2px 5px rgba(60, 1, 84, 0.5); /* This uses the color from .color-700 */
}

.h2 {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

#root {

  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.image-grid {
  align-items: center;
  padding: 5%;
  pointer-events: none;

  gap: 10rem; /* Adjust the gap between images */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 5fr));
}



.imgur{

  width: 150%;

  pointer-events: none;
  overflow: hidden;
}

html{
  scroll-behavior: smooth;
}

html, body {
  scroll-padding-top: 60px; /* height of your fixed header */
}




.gif-grid{
  pointer-events: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
  padding-bottom: 10%;
  
}

.gif{ 
  pointer-events: none;
  padding-bottom: 5%;
  padding-top: 5%;
  padding-left: 5%;
  overflow: hidden;
  width: 25rem; 
  height: 25rem; 
  object-fit: cover;
  
}



.BlenderImage1 {
  pointer-events: none;
  max-width: 100%;
  height: auto; 
  display: block; 
  margin: 2rem 0 auto; 
}

/* Style for the gif */
.gif {
  max-width: 100%; 
  height: auto; 
  display: block; 
  margin: 0 auto; 
}

.playButton {  
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
  background-color: #593f62;
  padding: 1rem 2rem;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 0.6s;
}
.playButton:hover {

  background-color: #7B6D8D;
}

/* Mobile styles */
@media (max-width: 768px) {
  .header {
    padding: 5px 5px;
  }

  .name {
    font-size: 18px;
    margin-right: 10px;
  }

  .section {
    margin-top: 5px;
    padding: 10px;
    font-size: 14px;
  }
  .image-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust for smaller screens */
    gap: 10px; 
  }

  .square-image-button {
    padding: 3px;
    top: 20%;
    width: 20px;
    height: 20px;
  }

  .gif{
    width: 100%;
    padding-bottom: 5%;
    padding-top: 5%;
    overflow: hidden;
    width: 25rem; /* width of container */
    height: 25rem; /* height of container */
    object-fit: cover;
  }
}

@media(min-width:3840px){ 
  html{
    -moz-transform: scale(1.5, 1.5); /* Firefox */
    -webkit-transform: scale(1.5, 1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5, 1.5); /* Standard syntax */
    zoom: 1.5;
    zoom: 150%;
  }
}